h1 {
  font-size: 16px;
  text-align: center;
  /* width: 100%; */
}

.hidden {
  display: none;
}
/*
#enter {
  display: none;
} */

td {
  border: 1px solid black;
  font-size: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

.O {
  color: red;
}

.X {
  color: blue;
}

.won {
  background-color: yellow;
}
